@import "functions";

$font-base: 'Montserrat', sans-serif;

//--------------------------------------
// Primary Colors
//--------------------------------------

$color-dark: #111;
$color-black: #000000;

$color-white: #fff;
$color-gray: #F1F1F1;

$color-gray-dark: #373939;
$color-gray-dark2: #49484C;
$color-gray-dark3: #97999b;

$color-gray-light: #666666;
$color-gray-light2: #DDDDDD;
$color-gray-light3: #E3E3E3;
$color-orange: #FE7C00;
$color-orange-dark: #e06d00;

$color-green: #74BE39;
$color-green-dark: #67a932;



$color-lightGrey: #aaaaaa;

$color-darkBlue: #3e3f3f;

//--------------------------------------
// Main colors
//--------------------------------------



//--------------------------------------
// Metrics
//--------------------------------------
