<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Test</title>

</head>

<body>
    
   <div class="testClass">
       <img src = "./img/test.png">
       <div class="testClass__hover"></div>
   </div>

</body>
</html>