<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Test</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"/>
   
</head>

<body>    
  
   <section class = "postsList">
       <div class="postsList__filter">

       </div>
       <div class="postsList__row">
           Title
           <input type = "text">
           Description
           <textarea></textarea>
       </div>
   </section>
</body>
</html>