<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Test</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"/>
   
</head>

<body>    
  
    <section class = "persons">
        <div class="persons__list">
            <div class = "persons__list--item">
                <img src = "">
                <p>First name Last Name</p>
                <a href = "mailto:">Email</a>
            </div>
        </div>
        <div class="persons__filters">
            <div class="form">
                <div class = "form__item">
                    <label for = "nameSearch">Seach by name</label>
                    <input type = "text" id = "nameSearch">
                </div>
                <div class = "form__item">
                    <label for = "jobsList">Job</label>
                    <select id = "jobsList"></select>
                </div>
                <div class = "form__item">
                    <label>Age</label>
                    <p class = "form__item--row">from <input type = "number"> to <input type = "number"></p>
                </div>
                 <div class = "form__item">
                    <label for = "male">Male</label>
                    <input type = "checkbox" id = "male">
                </div>
                <div class = "form__item">
                    <button id = "submit">Submit</button>
                </div>
            </div>
        </div>
    </section>
     
</body>
</html>