<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Test</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"/>
   
</head>

<body>    
   <div class="myCarousel">
        <div>
            <img src = "./img/carousel1.jpeg">
        </div>
        <div>
            <img src = "./img/carousel2.jpg">
        </div>
        <div>
            <img src = "./img/carousel2.jpg">
        </div>
    </div>
     
</body>
</html>