<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Test</title>

    <script src="test1" async></script>
    <script src="test2" async></script>
    <script src="test3" async></script>
    <script src="test4" async></script>
</head>

<body>    
    {{> _partials/list }}
         
    <div class="modalTest">
        <div class="modalTest__text">
            Lorem, ipsum dolor. 
        </div>
        <div class="modalTest__close"></div>
    </div>
     
</body>
</html>