<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Test</title>

    <script src="test1" async></script>
    <script src="test2" async></script>
    <script src="test3" async></script>
    <script src="test4" async></script>
</head>

<body>
    sadfasdfasfasd
    
   <body>
    {{> _partials/header }}
    
</body>
</body>
</html>