
.persons {
    display: flex;
    padding: 0 15px;
    &__list {
        display: flex;
        flex-wrap: wrap;
        width: 75%;
        margin: 0 -15px;
        //flex: 1 0 auto;
    
        &--item {
            width: 33.333%;
            padding: 0 15px;

            img {
                width: 100px;
            }
        }
    }
    &__filters {
        width: 25%;
    }
}
.form__item {
    margin-bottom: 15px;
    label {
        display: block;
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 5px;
    }
    
    input, select {
        width: 100%;
    }
}