<header class="header">
        <div class="container">
            <div class="row">
                <div id="overlay" class="logo__wrapper">
                    <img src="./Document_files/shopno_logo.png" alt="" class="logo">
                </div>
                <div id="burger__menu" class="burger__menu">
                   
                    <span id="burgerBtn"></span>
                
                    <nav id="navigation" class="navigation">
                        <a href="https://testacc01.gitlab.io/fe-2001-lessons/ksu_parkhamchuk/finalProject/index.html#" class="nav__link">About</a>
                        <a href="https://testacc01.gitlab.io/fe-2001-lessons/ksu_parkhamchuk/finalProject/index.html#" class="nav__link">Services</a>
                        <a href="https://testacc01.gitlab.io/fe-2001-lessons/ksu_parkhamchuk/finalProject/index.html#" class="nav__link">Contacts</a>
                        <a href="https://testacc01.gitlab.io/fe-2001-lessons/ksu_parkhamchuk/finalProject/index.html#" class="nav__link">Feedbacks</a>
                        <a href="https://testacc01.gitlab.io/fe-2001-lessons/ksu_parkhamchuk/finalProject/index.html#" class="nav__link">Team</a>
                    </nav>
                    <div id="overlay" class="burger__menu--overlay"></div>
                </div>
            </div>
        </div>
    </header>