<div class="phonesList">
    
    <div class="container">
        <div class="phoneList__filterRow">
          
        </div>
        <div class="phonesList__row">
               
        </div>
    </div>
</div>