  <section class="ourTeam">
        <div class="container">
            <div class="section__content">
                <div class="section__header">
                    <div class="section__header--title">small team</div>
                    <div class="section__header--description">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Sint</div>
                </div>

                <div class="team__members">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="team__member">
                                <img src="./img/team_1.png" alt="">
                                <div class="team__member--description--wrapper">
                                    <div class="description__content">
                                        <div class="member__name merriweather">AL RAYHAN<span class="member__job">/UI
                                                Designer</span></div>
                                        <div class="member__description raleway">Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit. Consequatur ratione quas exercitationem illum aut sequi.
                                        </div>
                                        <div class="member__social">
                                            <div class="social__img--wrapper">
                                                <img src="./img/facebook.png" alt="">
                                            </div>
                                            <div class="social__img--wrapper">
                                                <img src="./img/twitter.png" alt="">
                                            </div>
                                            <div class="social__img--wrapper">
                                                <img src="./img/ball.png" alt="">
                                            </div>

                                            <div class="social__img--wrapper">
                                                <img src="./img/letter.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="team__member">
                                <img src="./img/team_2.png" alt="">
                                <div class="team__member--description--wrapper">
                                    <div class="description__content">
                                        <div class="member__name merriweather">AL RAYHAN<span class="member__job">/UI
                                                Designer</span></div>
                                        <div class="member__description raleway">Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit. Consequatur ratione quas exercitationem illum aut sequi.
                                        </div>
                                        <div class="member__social">
                                            <div class="social__img--wrapper">
                                                <img src="./img/facebook.png" alt="">
                                            </div>
                                            <div class="social__img--wrapper">
                                                <img src="./img/twitter.png" alt="">
                                            </div>
                                            <div class="social__img--wrapper">
                                                <img src="./img/ball.png" alt="">
                                            </div>

                                            <div class="social__img--wrapper">
                                                <img src="./img/letter.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="team__member">
                                <img src="./img/team_3.png" alt="">
                                <div class="team__member--description--wrapper">
                                    <div class="description__content">
                                        <div class="member__name merriweather">AL RAYHAN<span class="member__job">/UI
                                                Designer</span></div>
                                        <div class="member__description raleway">Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit. Consequatur ratione quas exercitationem illum aut sequi.
                                        </div>
                                        <div class="member__social">
                                            <div class="social__img--wrapper">
                                                <img src="./img/facebook.png" alt="">
                                            </div>
                                            <div class="social__img--wrapper">
                                                <img src="./img/twitter.png" alt="">
                                            </div>
                                            <div class="social__img--wrapper">
                                                <img src="./img/ball.png" alt="">
                                            </div>

                                            <div class="social__img--wrapper">
                                                <img src="./img/letter.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="team__member">
                                <img src="./img/team_4.png" alt="">
                                <div class="team__member--description--wrapper">
                                    <div class="description__content">
                                        <div class="member__name merriweather">AL RAYHAN<span class="member__job">/UI
                                                Designer</span></div>
                                        <div class="member__description raleway">Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit. Consequatur ratione quas exercitationem illum aut sequi.
                                        </div>
                                        <div class="member__social">
                                            <div class="social__img--wrapper">
                                                <img src="./img/facebook.png" alt="">
                                            </div>
                                            <div class="social__img--wrapper">
                                                <img src="./img/twitter.png" alt="">
                                            </div>
                                            <div class="social__img--wrapper">
                                                <img src="./img/ball.png" alt="">
                                            </div>

                                            <div class="social__img--wrapper">
                                                <img src="./img/letter.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="team__member">
                                <img src="./img/team_5.png" alt="">
                                <div class="team__member--description--wrapper">
                                    <div class="description__content">
                                        <div class="member__name merriweather">AL RAYHAN<span class="member__job">/UI
                                                Designer</span></div>
                                        <div class="member__description raleway">Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit. Consequatur ratione quas exercitationem illum aut sequi.
                                        </div>
                                        <div class="member__social">
                                            <div class="social__img--wrapper">
                                                <img src="./img/facebook.png" alt="">
                                            </div>
                                            <div class="social__img--wrapper">
                                                <img src="./img/twitter.png" alt="">
                                            </div>
                                            <div class="social__img--wrapper">
                                                <img src="./img/ball.png" alt="">
                                            </div>

                                            <div class="social__img--wrapper">
                                                <img src="./img/letter.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="team__member">
                                <img src="./img/team_1.png" alt="">
                                <div class="team__member--description--wrapper">
                                    <div class="description__content">
                                        <div class="member__name merriweather">AL RAYHAN<span class="member__job">/UI
                                                Designer</span></div>
                                        <div class="member__description raleway">Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit. Consequatur ratione quas exercitationem illum aut sequi.
                                        </div>
                                        <div class="member__social">
                                            <div class="social__img--wrapper">
                                                <img src="./img/facebook.png" alt="">
                                            </div>
                                            <div class="social__img--wrapper">
                                                <img src="./img/twitter.png" alt="">
                                            </div>
                                            <div class="social__img--wrapper">
                                                <img src="./img/ball.png" alt="">
                                            </div>

                                            <div class="social__img--wrapper">
                                                <img src="./img/letter.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
